@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("../font/HakgyoansimWoojuR.ttf") format("truetype");
}

@media (min-width: 360px) {
  h3 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.8rem;
  }
}

@media (min-width: 720px) {
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/* 폰트 적용하기
https://velog.io/@lifeisbeautiful/React-%ED%8F%B0%ED%8A%B8%EC%9E%85%ED%98%80%EB%B3%B4%EA%B8%B0 */
